<main>
  <app-site-header></app-site-header>

  <div class="login__main">
    <div class="services__container">
      <ul class="services__list">
        <li class="service service-animation1">Payroll</li>
        <li class="service service-animation2">Scheduling</li>
        <li class="service service-animation1">Messaging</li>
        <li class="service service-animation2">Performance</li>
        <li class="service service-animation1">Training</li>
        <li class="service service-animation2">Announcements</li>
      </ul>
    </div>

    <div class="login__intro">
      <div class="welcome-title">
        <h1 class="title">Welcome to UManage</h1>
        <p class="slogan">Where solutions are made simple.</p>
      </div>
    </div>

    <div class="login__section">
      <div class="form__container">
        <app-form-login></app-form-login>
      </div>

      <video preload="auto" autoplay loop crossorigin="use-credentials" class="login__animation">
        <source src="../../assets/images/login_animation.mp4" type="video/mp4" class="video" />
      </video>
    </div>
  </div>

  <app-site-footer></app-site-footer>
</main>
