.login__main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "services"
    "welcome"
    "login-section";
    justify-content: center;
    align-items: center;
}

.services__container {
    margin: 2rem 0;
    grid-area: services;
}

.services__list {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.service {
    list-style: none;
    font-size: 10pt;
    color: var(--white);
    width: fit-content;
    padding: 0.5rem 1rem;
    margin: 1rem;
    text-transform: uppercase;
    background-color: var(--purple);
    border-radius: 15px 0 15px 0;
}

.login__intro {
   grid-area: welcome;
}

.welcome-title {
    text-align: center;
    padding: 2rem 0 4rem;
}

.title {
    font-size: 30pt;
}

.slogan {
    font-size: 12pt;
    color: var(--purple);
    text-transform: uppercase;
}

.login__section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "animation"
    "login";
    row-gap: 1rem;
    margin-bottom: 3rem;
    place-self: center;
    align-items: center;
    grid-area: login-section;
}

.form__container {
    grid-area: login;
}

.login__animation {
    margin: 0 auto;
    min-width: 100px;
    grid-area: animation;
}

.video {
    padding: 0;
    /* max-width: 400px; */
}

@media (min-width: 69rem) {
    .login__main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "services services"
        "welcome welcome"
        "login-section login-section";
        margin: 5rem;

    }
    .login__section {
        width:85%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "login animation";
    }
    .title {
        font-size: 38pt;
    }
    .slogan {
        font-size: 15pt;
    }
}

.service-animation1 {
    animation: bgColorAnimation1 3s infinite alternate;
}

.service-animation2 {
    animation: bgColorAnimation2 3s infinite alternate;
}

@keyframes bgColorAnimation1 {
    0% {
        background-color: var(--purple);
    }
    100% {
        background-color: var(--yellow);
        color: var(--purple);
    }
}

@keyframes bgColorAnimation2 {
    0% {
        background-color: var(--yellow);
        color: var(--purple);
    }
    100% {
        background-color: var(--purple);
    }
}
