footer {
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    width: 100%;
    position: relative;
    z-index: 999;
    padding: 3rem 2rem;
    border-radius: 0 150px 0 0;
    background-color: var(--purple);
}

p {
    color: var(--white);
    text-align: center;
}
