<footer>
  <div class="footer__content"> 
    <div class="footer__links">
      <h5>Quick Links</h5>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Business</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="footer__account">
      <h5>Account</h5>
      <ul>
        <li><a href="#">Login your account</a></li>
        <li><a href="#">Create your account</a></li>
      </ul>
    </div>
    <div class="footer__contact">
      <h5>Contact</h5>
      <a href="#"><span>Email</span> info@umanage.com</a>
      <p><span>Call</span> (123) 345-6789</p>
    </div>
    <div class="footer__socials">
      <ul>
        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
      </ul>
    </div>
    <div class="footer__subscribe">
      <h4>Subscribe to <span>UManage</span> emails</h4>
      <p>and <span>learn</span> more <span>ways to optimize </span> your business</p>
      <form>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
        <input type="email" placeholder="join@umanage.com" required>
        <button type="submit">Join Now</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="footer__bottom">
    <div class="footer__logo">
      <img src="../../assets/images/logo_white.png" alt="UManage logo">
    </div>
    <p>Developed by Chyna Davis, 2023</p>
  </div>
</footer>
