<div class="update-employee-field">
  <div class="field-title">
    <i class="fa-solid fa-pen-to-square"></i>
    <h3>Update an Employee's Data</h3>
  </div>
  
  <app-search-employee></app-search-employee>

  <form (submit)="updateEmployee()" id="update-employee">
    <div class="mb-3">
      <label for="name" class="form-label">Employee's ID:</label>
      <input type="number" class="form-control" name="name" id="name" maxlength="5" autocomplete="off" [(ngModel)]="employeeId" required>
    </div>

    <div class="mb-3">
      <label for="name" class="form-label">Employee's Name:</label>
      <input type="text" class="form-control" name="name" id="name" [(ngModel)]="name" placeholder="John Doe" required>
    </div>

    <div class="mb-3">
      <label for="phoneNumber" class="form-label">Phone Number:</label>
      <input type="text" class="form-control" name="phoneNumber" id="phoneNumber" [(ngModel)]="phoneNumber" maxlength="10" required placeholder="9045557346">
    </div>

    <div class="mb-3">
      <label for="supervisors" class="form-label">Supervisors:</label>
      <input type="text" class="form-control" name="supervisors" id="supervisors" [(ngModel)]="supervisors" required placeholder="Michael Park">
    </div>

    <button type="submit" class="btn btn-primary submit">Update Employee</button>
  </form>

  <div class="message_box">
    <div *ngIf="success" class="alert alert-success">{{ success }}</div>
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
  </div>
</div>
