/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
:root {
    --purple: #5b17eb;
    --yellow: #fec801;
    --white: #ffffff;
    --black: #000000;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

body {
    line-height: 1.5;
    background-image: url("./assets/images/site-bg.png");
    background-repeat: repeat;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* informational messages */
.message_box {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 1rem;
}

/* employee-CRUD */
.add-employee-field,
.view-employee-field,
.delete-employee-field,
.update-employee-field {
    padding-top: 2rem;
    border-radius: 30px;
}

.field-title {
    display: flex;
    align-items: baseline;
}

.field-title i {
    font-size: 30px;
    padding-right: 0.8rem;
}

.view-employee {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.employee-item {
    width: fit-content;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 15px;
    border: 1px solid var(--purple);
    overflow: hidden;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
    background-color: rgba(235, 236, 240, 0.15);
}

.employee-item p:nth-child(2) {
    font-weight: bold;
    color: var(--purple);
    text-transform: uppercase;
}

.search-results {
    position: relative;
    top: 100%;
    left: 0;
    z-index: 999;
    background-color: #faf9f6;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.3);
    width: 75%;
    margin-bottom: 2rem;
    max-height: 300px; /* add a max height to prevent it from becoming too tall */
    overflow-y: auto; /* add vertical scrollbar if needed */
}

.search-result-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.search-result-item p {
    padding: 0 15px;
}

.search-result-item:last-child {
    border-bottom: none;
}
