<div class="view-employee-field">
  <div class="field-title">
    <i class="fa-solid fa-people-group"></i>
    <h3>Current Employees</h3>
  </div>

  <app-search-employee></app-search-employee>

  <div class="view-employee">
    <ng-container *ngIf="employeeList">
      <div *ngFor="let employee of employeeList" class="employee-item">
        <p>ID: {{ employee.id }}</p>
        <p>{{ employee.name }}</p>
        <p>Phone: {{ employee.phoneNumber }}</p>
        <p>Supervisors: {{ employee.supervisors }}</p>
      </div>
    </ng-container>
    <!-- <ng-template #loadingTemplate>
        <p>Loading employee data...</p>
    </ng-template> -->
  </div>
  <div class="message_box">
    <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
  </div>
</div>
